<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100 bg-wyrd-default lora">

    <!-- Navbar -->
    <%- include("../parts/navbar") %>

        <!-- Content -->
        <main class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">

                <!-- Title -->
                <section class="row mb-3 align-items-end">
                    <div class="col">
                        <h3 class="lora-semibold mb-0">
                            <%= character.name %>
                        </h3>
                    </div>
                    <div class="col text-end">
                        <div class="lora-medium text-muted">

                        </div>
                    </div>
                </section>

                <hr>

                <div class="row mb-3">
                    <div class="col-md">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                    <div class="col-md">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                    <div class="col-md">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                </div>

                <hr>

                <!-- Gear -->
                <div class="row mb-3">
                    <!-- Equipped -->
                    <div class="col-md">
                        
                    </div>
                    <!-- Inventory -->
                    <div class="col-md">
                        <%- include("../parts/inventory") %>
                    </div>
                </div>

            </div>
        </main>

</body>

</html>