<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <%- include("./parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Barbarian -->
                <div class="row">
                    <h3>Barbarian</h3>
                </div>
                <hr class="mt-1 border-2 border-blood">
                <div class="row">
                    <div class="col">
                        <!-- Barbarian Description -->
                        <p class="">
                            A barbarian is a fierce warrior who relies on strength, endurance, and primal instinct
                            rather
                            than formal
                            training. Hardened by harsh lands and a life of constant struggle, they meet danger head-on
                            with
                            unmatched
                            ferocity. Whether raider, hunter, nomad, or tribal champion, barbarians survive where others
                            perish and
                            fight with a savage determination that few can withstand.
                        </p>
                        <!-- Barbarian Masteries -->
                        <h5>Masteries</h5>
                        <hr class="border-2 border-blood">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-content-center mb-3">
                                    <div class="lora-semibold">
                                        Primal Instinct
                                    </div>
                                    <div class="text-body-secondary">
                                        Passive
                                        <i class="bi bi-vignette ms-1"></i>
                                    </div>
                                </div>
                                <p class="card-text fst-italic">
                                    Trust your senses above reason, reacting to danger before others perceive it.
                                </p>
                                <p class="card-text">
                                    You gain <u>Advantage</u> on checks to avoid natural hazards.
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-content-center mb-3">
                                    <div class="lora-semibold">
                                        Frenzy
                                    </div>
                                    <div class="text-body-secondary">
                                        Action
                                        <i class="bi bi-dice-6-fill ms-1"></i>
                                    </div>
                                </div>
                                <p class="card-text fst-italic">
                                    Unleash a flurry of attacks that overwhelms a foe with relentless aggression.
                                </p>
                                <p class="card-text">
                                    Make three attacks against the same target, each with <u>Disadvantage</u>.
                                    Each successful attacks deals <u>Base Damage</u> only.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <img class="img-fluid rounded" src="img/barbarian.png" />
                    </div>
                </div>
            </div>

</body>

</html>