<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./parts/head') %>
</head>

<body class="d-flex flex-column min-vh-100 bg-dark-subtle lora">

  <nav class="navbar navbar-expand-lg sticky-top bg-dark shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/logo.png" class="" width="40px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text text-light opacity-75 fst-italic me-2">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav>

  <div class="container container-content min-vh-100 bg-light shadow">
    <div class="row">
      <div class="col text-center">
        Column
      </div>
      <div class="col text-center">
        Column
      </div>
    </div>
  </div>

</body>

</html>