<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <%- include("./parts/navbar") %>

        <div class="position-relative vh-100">

            <!-- Background Image -->
            <img src="img/splash.png" class="w-100 h-100 object-fit-cover" alt="">

            <!-- Overlay -->
            <div class="position-absolute top-0 start-0 w-100 h-100 vignette-reverse"></div>

            <!-- Content -->
            <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                <h1 class="display-1 lora-semibold">Wyrd</h1>
                <hr>
                <p class="fs-4">Freedom without chaos</p>
            </div>

        </div>

</body>

</html>