<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100 bg-wyrd-default">

    <!-- Navbar -->
    <%- include("../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row mb-3">
                    <div class="col">
                        <h3 class="lora-semibold">Skill Checks</h3>
                    </div>
                </div>
                <hr>
                <div class="position-relative p-0">
                    <img class="img-fluid w-100 object-fit-cover" src="/img/religion.png" />
                </div>
                <hr>
                <div class="row gap-3">
                    <div class="col-md">
                        <p>
                            Long before the first kingdoms, the world was shaped by the Elder Gods, primordial beings
                            who drew order from the boundless chaos of Limbo. They established the fundamental laws of
                            existence and raised the first planes from the void, but they were distant, incomprehensible
                            powers whose concerns lay with creation itself rather than the lives of mortals.
                        </p>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>