<title><%= pageTitle %></title>

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Cormorant -->
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;600;700&display=swap" rel="stylesheet">

<!-- Lora -->
<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">

<!-- Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap Popovers -->
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/theme.css">