<nav class=" navbar bg-body-tertiary sticky-top p-0 shadow-lg">
    <div class="container-fluid p-2 text-light bg-blood border-2 border-bottom border-gold">
        <!-- Branding -->
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" height="40px" />
            <span class="lora-semibold fs-5 text-light">Wyrd</span>
        </a>
        <!-- Menu Toggle -->
        <button class="btn-none p-2 fs-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <i class="bi bi-list text-gold"></i>
        </button>
        <!-- Flyout Menu -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <!-- Menu Header -->
            <div class="offcanvas-header justify-content-between bg-blood shadow p-2 pb-0">
                <div class="offcanvas-title fs-5 text-light" id="offcanvasNavbarLabel">
                    Menu
                </div>
                <button class="btn-none p-2 fs-4" type="button" data-bs-dismiss="offcanvas">
                    <i class="bi bi-x-square-fill text-gold"></i>
                </button>
            </div>
            <!-- Menu Items -->
            <div class="offcanvas-body mt-0 bg-blood">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <!-- Home -->
                    <li class="nav-item rounded p-2 mb-3 bg-light border shadow">
                        <a class="nav-link active" href="/">
                            <span class="lora-semibold">Introduction</span>
                        </a>
                    </li>
                    <!-- Engine -->
                    <li class="nav-item rounded p-2 mb-3 bg-light border shadow">
                        <a class="nav-link active" href="#">
                            <span class="lora-semibold">Game Engine</span>
                        </a>
                    </li>
                    <!-- Lore -->
                    <li class="nav-item dropdown rounded p-2 mb-3 bg-light border shadow">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <span class="lora-semibold">Lore</span>
                        </a>
                        <ul class="dropdown-menu expanded show border-gold">
                            <li><a class="dropdown-item" href="/copendium/lore/cosmology">Cosmology</a></li>
                            <li><a class="dropdown-item" href="/copendium/lore/aeld">World of Aeld</a></li>
                            <li><a class="dropdown-item" href="/copendium/lore/life">Everyday Life</a></li>
                        </ul>
                    </li>
                    <!-- Characters -->
                    <li class="nav-item dropdown rounded p-2 mb-3 bg-light border shadow">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <span class="lora-semibold">Characters</span>
                        </a>
                        <ul class="dropdown-menu expanded show border-gold">
                            <li><a class="dropdown-item" href="#">Lineage</a></li>
                            <li><a class="dropdown-item" href="#">Ability Scores</a></li>
                            <li><a class="dropdown-item" href="#">Derived Scores</a></li>
                            <li><a class="dropdown-item" href="#">Virtues & Vices</a></li>
                            <li><a class="dropdown-item" href="#">Traits</a></li>
                            <li><a class="dropdown-item" href="#">Progression</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>