<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./parts/head') %>
</head>

<body class="d-flex flex-column min-vh-100"">

  <!-- Navbar -->
  <nav class=" navbar bg-body-tertiary sticky-top p-0 shadow-lg">
  <div class="container-fluid p-2 text-light bg-blood border-2 border-bottom border-gold">
    <!-- Branding -->
    <a class="navbar-brand" href="#">
      <img src="/img/logo.png" height="40px" />
      <span class="lora-semibold fs-5 text-light">Wyrd</span>
    </a>
    <!-- Menu Toggle -->
    <button class="btn-none p-2 fs-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <i class="bi bi-list text-gold"></i>
    </button>
    <!-- Flyout Menu -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header justify-content-between">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Menu
        </h5>
        <button class="btn-none p-2 fs-4" type="button" data-bs-dismiss="offcanvas">
          <i class="bi bi-x-square-fill text-blood"></i>
        </button>
      </div>
      <hr class="mx-4 my-0">
      <!-- Menu Items -->
      <div class="offcanvas-body mt-0">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <!-- Classes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Classes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Barbarian</a></li>
              <li><a class="dropdown-item" href="#">Paladin</a></li>
              <li><a class="dropdown-item" href="#">Paladin</a></li>
              <li><a class="dropdown-item" href="#">Paladin</a></li>
              <li><a class="dropdown-item" href="#">Paladin</a></li>
              <li><a class="dropdown-item" href="#">Paladin</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>

  <!-- Content -->
  <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
    <div class="container-content">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>

</body>

</html>