<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100 bg-wyrd-default">

    <!-- Navbar -->
    <%- include("../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row mb-3">
                    <div class="col">
                        <h3 class="lora-semibold">Alchemy</h3>
                    </div>
                </div>
                <hr>
                <div class="position-relative p-0">
                    <img class="img-fluid w-100 object-fit-cover" src="/img/banners/placeholder.png" />
                </div>
                <hr>
                <div class="row gap-3">
                    <div class="col-md">
                        <p>
                            Wyrd is a tabletop roleplaying game for 2-6 players set in a grounded world of ancient
                            ruins, dangerous
                            frontiers, and forgotten mysteries. You play adventurers seeking fortune, knowledge, or
                            purpose in a land
                            where every expedition promises new discoveries, hidden dangers, and stories worth telling.
                        </p>
                        <p>
                            At its heart, Wyrd is built around a simple philosophy: freedom without chaos. Its rules
                            emphasize clear
                            procedures over exception-based mechanics, reducing interruptions to look up niche
                            interactions or debate
                            rulings. Every major part of the game — from combat, exploration, intrigue, travel,
                            research, and crafting
                            —
                            uses the same core mechanic. The unified framework produces predictable, transparent
                            outcomes while still
                            leaving room for creativity, choice, and emergent gameplay.
                        </p>
                    </div>
                </div>
            </div>

</body>

</html>