<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-10--------------0">

    <!-- Navbar -->
    <%- include("../../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row">
                    <div class="col">
                        <img class="border border-4 border-gold mb-3" src="/img/cosmology.png" width="100%"
                            height="50%" />
                        <h3 class="my-3">Cosmology</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>
                            The Commonwealth stretches across the heart of the known world, linking dozens of kingdoms,
                            free cities, duchies, and frontier marches beneath a shared history of trade, diplomacy, and
                            conflict. Though no emperor sits upon a single throne, merchants travel common roads,
                            scholars exchange ideas across distant courts, and rulers gather to settle disputes that
                            could otherwise plunge the continent into war. It is a land shaped as much by negotiation as
                            by conquest.
                        </p>
                    </div>
                    <div class="col-md">
                        Content
                    </div>
                </div>
            </div>

</body>

</html>