<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <%- include("../../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row mb-3">
                    <div class="col">
                        <h3>Cosmology</h3>
                    </div>
                </div>
                <div class="row gap-3">
                    <div class="col-md">
                        <p>
                            The oldest myths tell of the Eternals, primordial beings who arose from the boundless chaos
                            of Limbo before the first world was born. Limbo was not a place but a state of infinite
                            possibility, where nothing possessed form, purpose, or permanence. There was no sky nor sea,
                            no life nor death, no beginning nor end — only an endless expanse of untamed potential.
                        </p>
                        <p>
                            The Eternals did not create the cosmos through conquest or command, nor did they rule it as
                            their descendants would. Instead, they gave shape to reality itself, establishing the
                            fundamental truths that transformed Limbo into an ordered universe.
                        </p>
                        <p>
                            Though the Eternals have long eluded mortal understanding, their influence
                            endures through their creations.
                        </p>
                        <h6 class="lora-semibold">The Five Foundations</h6>
                        <p>
                            The legacy of the Eternals lives on through the Five Foundations, the unseen framework upon
                            which all existence rests..
                        </p>
                        <ol>
                            <li>
                                Matter gave substance, size, and shape to creation.
                            </li>
                            <li>
                                Essence breathed meaning, purpose, and identity into form.
                            </li>
                            <li>
                                Harmony established order, binding reality together.
                            </li>
                            <li>
                                Discord embraced change and its endless possibilities.
                            </li>
                            <li>
                                Time separated history from destiny, allowing every action to leave its mark upon the
                                world.
                            </li>
                        </ol>
                        <p>
                            Together, they define the essential nature of existence and serve as the source from which
                            all creation ultimately springs.
                        </p>
                        <h6 class="lora-semibold">Planes of Existence</h6>
                        <p>
                            When the Eternals tamed Limbo, they gave birth to scores of planes of existence.
                            The Mortal Realm, commonly known as Aeld, manifested where energy balanced, giving way to a
                            world driven by change, choice, and consequence.
                        </p>
                        <p>
                            Aeld is only one of countless realms suspended within the greater cosmos. Though each
                            possesses its own history, peoples, and civilizations, all share the same Five Foundations
                            established by the Eternals. Every world gives rise to its own pantheons, peoples,
                            triumphs, and tragedies. Some myths and legends are so powerfult they defy time and space to
                            appear across worlds.
                        </p>
                        <p>
                            The planes do not sit in neat layers, and often shift as they gain or lose power and
                            influence. Planar inteference touches mortal life in visible ways. A battlefield soaked in
                            grief may draw the restless dead. A mountain struck by starfire may open a gate to the
                            Elemental Realms. The cosmos is distant, but never absent.
                        </p>
                    </div>
                    <div class="col-md">
                        <img class="img-fluid h-50 object-fit-cover rounded mb-3" src="/img/cosmology.png" />
                        <h6 class="lora-semibold mt-3">The Ascendants</h6>
                        <p>
                            In the ages that followed creation, new powers emerged from within the world itself. Known
                            as the Ascendants, these younger gods possess names, personalities, and histories that
                            mortals can understand and relate to.
                        </p>
                        <p>
                            Where the Eternals shaped reality, the Ascendants shaped
                            civilization. They taught the first kingdoms to govern, revealed the secrets of magic and
                            craftsmanship, inspired great works of art and conquest, and became the patrons of the
                            countless callings, ideals, and cultures that define the mortal world.
                        </p>
                        <p>
                            Some traditions teach that the Ascendants were born from the
                            Eternals, while others claim they were legendary heroes who attained godhood. Whatever their
                            origins, they stand as the faces of faith throughout Aeld.
                        </p>
                        <p>
                            Most people know the divine through participating in festivals, studying scriptures, going
                            through rites of passage, and listening to local legends.
                            Adventurers often encounter the divine more directly. They may recover holy relics from
                            ancient ruins, bargain with spirits in haunted forests, descend into mystical places where
                            the lines of reality transition between planes.
                        </p>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>