<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100 bg-wyrd-default">

    <!-- Navbar -->
    <%- include("../../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row mb-3">
                    <div class="col">
                        <h3 class="lora-semibold">Religion</h3>
                    </div>
                </div>
                <hr>
                <div class="row gap-3">
                    <div class="col-md">
                        <p>
                            In the ages that followed creation, new powers emerged from within the world itself. Known
                            as the Ascendants, these younger gods possess names, personalities, and histories that
                            mortals can understand and relate to.
                        </p>
                        <p>
                            Where the Eternals shaped reality, the Ascendants shaped
                            civilization. They taught the first kingdoms to govern, revealed the secrets of magic and
                            craftsmanship, inspired great works of art and conquest, and became the patrons of the
                            countless callings, ideals, and cultures that define the mortal world.
                        </p>
                        <p>
                            Some traditions teach that the Ascendants were born from the
                            Eternals, while others claim they were legendary heroes who attained godhood. Whatever their
                            origins, they stand as the faces of faith throughout Aeld.
                        </p>
                        <p>
                            Most people know the divine through participating in festivals, studying scriptures, going
                            through rites of passage, and listening to local legends.
                            Adventurers often encounter the divine more directly. They may recover holy relics from
                            ancient ruins, bargain with spirits in haunted forests, descend into mystical places where
                            the lines of reality transition between planes.
                        </p>
                    </div>
                    <div class="col-md">
                        <div class="row mb-3">
                            <img class="img-fluid object-fit-cover" src="/img/religion.png" />
                        </div>
                        <div class="row">
                            <!-- Content here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>