<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../parts/head') %>
</head>

<body>

    <main class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="container-md bg-light rounded shadow p-4">
            <h3>Error 404</h3>
            <hr class="my-3 border-2 border-blood">
            Page not found.
        </div>
    </main>

</body>

</html>