<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100 bg-wyrd-default">

    <!-- Navbar -->
    <%- include("../../parts/navbar") %>

        <!-- Content -->
        <div class="container min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <!-- Hero Image -->
                <div class="row mb-3">
                    <div class="col">
                        <h3 class="lora-semibold">Humans</h3>
                    </div>
                </div>
                <hr>
                <div class="row gap-3">
                    <div class="col-md">
                        <p>
                            Lineage represents a character's ancestry and biological heritage, providing a common
                            physical baseline shared by members of the same people. It defines the qualities
                            inherited through generations, shaping their appearance, physiology, and other innate
                            characteristics.
                        </p>
                        <p>
                            Beyond defining thier background, lineage determines a character's base size which impacts
                            unarmored defense, movement distance, and manueverability These traits reflect biology
                            rather than training, serving as the foundation upon which the rest of a character is built.
                        </p>
                        <p>
                            Lineage is not destiny. It does not determine a person's beliefs, capabilities, or place in
                            society. Culture, education, faith, and personal identity are acquired throughout life.
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Human -->
                <div class="row gap-3">
                    <div class="col-md">
                        <h6 class="lora-semibold">Human</h6>
                        <p>
                            Humans are united by a practical nature and an extraordinary capacity to adapt, organize,
                            and reshape the world around them. Perhaps due to their shorter lifespans, they are
                            unusually ambitious, adventurous, and inventive.
                        </p>
                        <!-- Base Scores -->
                        <h6 class="lora-semibold small">Base Size</h6>
                        <div class="container text-center mb-5">
                            <div class="row gap-1">
                                <div class="col-sm border rounded-pill">
                                    1
                                </div>
                                <div class="col-sm border rounded-pill">
                                    2
                                </div>
                                <div class="col-sm border rounded-pill bg-blood border-blood text-light">
                                    3
                                </div>
                                <div class="col-sm border rounded-pill">
                                    4
                                </div>
                                <div class="col-sm border rounded-pill">
                                    5
                                </div>
                                <div class="col-sm border rounded-pill">
                                    6
                                </div>
                            </div>
                        </div>
                        <!-- Heritages -->
                        <h6 class="lora-semibold">Human Heritages</h6>
                        <p>
                            Each human comes from a heritage.
                        </p>
                        <h6 class="lora-semibold small">Azari</h6>
                        <p>
                            The Azari trace their ancestry to the warm southern kingdoms, where deserts, savannas, and
                            bustling trade routes rewarded agility, coordination, and swift action. Their athleticism
                            and graceful movement grant them a natural aptitude for Reflex.
                        </p>
                        <h6 class="lora-semibold small">Nimble</h6>
                        <p>You have Resistance to Fire damage.</p>
                        <hr>
                        <h6 class="lora-semibold small">Keshin</h6>
                        <p>
                            The Keshin descend from the ancient eastern realms, where generations cultivated
                            scholarship, craftsmanship, and disciplined tradition. Renowned for their patience,
                            precision, and unwavering focus, they possess a natural aptitude for Discipline.
                        </p>
                        <h6 class="lora-semibold small">Measured</h6>
                        <p>Once per encounter, reroll a failed Focus or Will check.</p>
                        <hr>
                        <h6 class="lora-semibold small">Skeld</h6>
                        <p>
                            The Skeld descend from the rugged northern reaches, where generations endured harsh winters,
                            rocky coasts, and unforgiving wilderness. Their sturdy builds and steadfast nature are the
                            legacy of a people shaped by endurance, granting them a natural aptitude for Resolve.
                        </p>
                        <div class="d-flex flex-row justify-content-between">
                            <h6 class="lora-semibold small">Frostborn</h6>
                            <h6 class="lora-semibold small">
                                Heritage Skill
                                <i class="bi bi-star"></i>
                            </h6>
                        </div>
                        <p>You have Resistance to Frost damage.</p>
                    </div>
                    <div class="col-md col-md-4">
                        <!-- Ancestry Image -->
                        <img class="img-fluid h-100 object-fit-cover rounded" src="/img/human.png" />
                    </div>
                </div>

            </div>
        </div>

</body>

</html>